@model CrazyQuiz.Models.Quiz
@using Microsoft.AspNetCore.Mvc.Rendering
@using Microsoft.AspNetCore.Mvc.ViewFeatures
@inherits Microsoft.AspNetCore.Mvc.Razor.RazorPage<CrazyQuiz.Models.Quiz>

@{
    ViewBag.Title = "Create";
}

<h2>@ViewBag.Title</h2>

<div>
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Duration" class="control-label"></label>
            <input asp-for="Duration" class="form-control" />
            <span asp-validation-for="Duration" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CategoryId" class="control-label"></label>
            <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories"></select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Difficulty" class="control-label"></label>
            <select asp-for="Difficulty" class="form-control" asp-items="ViewBag.Difficulties"></select>
            <span asp-validation-for="Difficulty" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
