/* wwwroot/css/login.css */

body {
    background-image: url('/img/background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.login-card {
    width: 80%; 
    max-width: 400px; 
    border-radius: 15px; 
}

.form-floating .form-control {
    border-radius: 15px; 
}

#login-submit {
    border-radius: 15px; 
}
