@{
    ViewData["Title"] = "Instructiuni";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<body style="background-image: url('/img/background-home.jpg'); background-size: cover; background-position: center;">
    <div id="instructions" style="background-color: rgba(255, 255, 255, 0.8); padding: 20px; border-radius: 10px;">
        <h2>Instrucțiuni pentru Crazy Quiz Game</h2>
        <p>Bine ați venit la Crazy Quiz Game! Urmați aceste instrucțiuni pentru a vă bucura de joc:</p>
        <ol>
            <li>Primiți întrebări și selectați răspunsurile potrivite.</li>
            <li>Fiecare întrebare are un singur răspuns corect.</li>
            <li>Apăsați butonul "Trimite" pentru a verifica răspunsurile după ce ați răspuns la toate întrebările.</li>
            <li>Obțineți scorul și vedeați cât de bine v-ați descurcat!</li>
        </ol>
        <h3>Distrați-vă și mult noroc!</h3>
    </div>
</body>
</html>
